.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.name {
  font-size: 14px;
}
