<!-- okk -->
<!-- <app-multiselect></app-multiselect> -->
<app-search-filter></app-search-filter>
<!-- <app-grouped-bar-chart></app-grouped-bar-chart> -->
<!-- <app-stacked-bar-chart></app-stacked-bar-chart> -->

<!-- <app-ngx-donut></app-ngx-donut>
<app-d3-donut></app-d3-donut>  -->

<!-- <app-d3-bar></app-d3-bar>
<app-ngx-bar></app-ngx-bar> -->
<!-- <app-d3-bar-1></app-d3-bar-1> -->
<br /><br /><br /><br />
<hr />
Stacked vertical bar-chart

<ngx-charts-bar-vertical-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [showGridLines]="showGridLines"
  [barPadding]="30"
  [yScaleMax]="40000"
>
</ngx-charts-bar-vertical-stacked>
<br /><br /><br /><br />
<!-- 
<ngx-charts-bar-vertical-stacked
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="{
    axisLine: {
      stroke: 'black',
      strokeWidth: 2,
      markerEnd: 'url(#x-arrowhead)'
    },
    tickLine: {
      stroke: 'black',
      strokeWidth: 2,
      markerEnd: 'url(#x-arrowhead)'
    }
  }"
  [yAxis]="{
    axisLine: {
      stroke: 'black',
      strokeWidth: 2,
      markerEnd: 'url(#y-arrowhead)'
    },
    tickLine: {
      stroke: 'black',
      strokeWidth: 2,
      markerEnd: 'url(#y-arrowhead)'
    }
  }"
  [showGridLines]="showGridLines"
  [barPadding]="30"
  [yScaleMax]="40000"
>
</ngx-charts-bar-vertical-stacked> -->

<app-d3-v4-line></app-d3-v4-line>
